@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
    transition: ease-in-out .2s;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 70px; /* ajusta el valor según la altura de tu navbar */
}
